extends ../../layouts/default.pug 
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
  if (role_user.permissions.includes("create_accounts"))
    -if(messages.success)
        +alert-success(messages.success)
    -if(messages.error)
        +alert-error(messages.error)
    
    .container
      h1 Thêm Tài Khoản
      form(action="/admin/accounts/create" method="post" enctype="multipart/form-data")
        .form-group
          label(for="fullName") Họ và tên
          input#fullName.form-control(type="text" name="fullName")
          
        .form-group
          label(for="phone") Số điện thoại
          input#phoneNumber.form-control(type="text" name="phone")
          
        .form-group
          label(for="email") Email
          input#email.form-control(type="email" name="email")
          
        .form-group
          label(for="password") Mật khẩu
          input#password.form-control(type="password" name="password")
        .form-group
          label(for="role") Quyền
          select#role.form-control(name="role")
            each role in roles
              option(value=role._id) #{role.title}
        .form-group.upload-image(upload-image)
          label(for="avatar") Avatar 
          input#avatar.form-control-file.input-image(type="file" aria-label="File input" name="avatar" accept="image/*")
          .container-image-preview.d-none.mt-3
            img.image-preview(src="", alt="")
            span.delete-image-preview.d-none &times;
        button.btn.btn-primary(type="submit") Thêm Tài Khoản
  else
    span Bạn không có quyền truy cập trang này