mixin alert-success(messages)
  .col-4
    .alert.alert-success(role='alert')
      button.close(type='button', aria-label='Close')
        span(aria-hidden='true') &times;
      | #{messages}


mixin alert-error(messages)
  .col-4
    .alert.alert-danger(role='alert')
      button.close(type='button', aria-label='Close')
        span(aria-hidden='true') &times;
      | #{messages}