mixin fillter()
    .select-container
        select.form-control.mr-2(id="action-select")
            option(value="") Chọn hành động
            option(value="delete_all") Xóa tất cả
            option(value="active") Hoạt động
            option(value="inactive") Không hoạt động
        button.btn.btn-primary(type="button", id="apply-button") Áp dụng

mixin fillter-2()
    .select-container
        select.form-control.mr-2(id="action-select")
            option(value="") Chọn hành động
            option(value="delete_all") Khôi phục tất cả
            option(value="active") Xoá tất cả
        button.btn.btn-primary(type="button", id="apply-button") Áp dụng