mixin search()
    .search-container
        form(form-search)
            .input-group
                input.form-control(type="text", placeholder="Nhập từ khoá để tìm kiếm..." name="keyword" value=keyword)
                div.input-group-append
                    button.btn.btn-primary(type="submit") Tìm kiếm