.container-fluid
      .row
        .col-md-12.bg-dark.text-white.p-3
          .d-flex.justify-content-between.align-items-center
            h1.mb-0 Admin Dashboard
            .d-flex.align-items-center
              a.me-3(href="#") Hello, Admin
              a.btn.btn-outline-light.ml-3(href="/admin/auth/logout") Đăng xuất