.col-md.bg-dark.p-3
    ul.nav.flex-column
        li.nav-item
            a.nav-link(href="/admin/dashboard") Tổng quan
        li.nav-item
            a.nav-link(href="/admin/products") Sản phẩm
        li.nav-item
            a.nav-link(href="/admin/categories") Danh mục
        li.nav-item
            a.nav-link(href="/admin/accounts") Tài khoản
        li.nav-item
            a.nav-link(href="/admin/role") Nhóm quyền
        li.nav-item
            a.nav-link(href="/admin/role/permissions") Phân quyền
        li.nav-item
            a.nav-link(href="#") Cài đặt