.col-md.bg-dark.p-3
    ul.nav.flex-column
        li.nav-item
            a.nav-link(href="/admin/dashboard") Tổng quan
        li.nav-item
            a.nav-link(href="/admin/products") Danh sách sản phẩm
        li.nav-item
            a.nav-link(href="#") Cài đặt